@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",serif;
    color: #ffffff;
}
body {
    background: black;
    width: 100%;
}
img.dados{
    width: 450px;
    display:block;
    margin: 0 auto;
    padding: 40px;
}
img.fundo{

    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

div {
    width: 746px;
    text-align: center;
    display: block;
    margin:  auto;    
}

p {
    font-size: 25px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 72px;
    background: #333333;
    opacity: 0.5;
    border: none;
    border-radius: 10px;

    font-size: 38px;
    color: white;
    margin-bottom: 60px;
    padding-left: 20px;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.min-input {
    width: 340px;
    margin-right: 20px;
}
.max-input {
    width: 340px;
}
.button-sorty {
    display: block;
    margin: 0 auto;
    width: 340px;
    height: 72px;

    font-size: 38px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background: #AEC346;
    color: white;
    cursor: pointer;
}
.resultado {
    font-size: 40px;
    font-weight: 700;
    opacity: 0; /* Tornando ícone invisível */
    transition: all 0.4s ease; /* Definindo transição suave para todas as propriedades */
    transition-delay: 0.3s;
}